.accordionater {
	p:last-child {
		margin-bottom: 30px;
	}

	label {
		font-weight: 700;
	}

	.wizzy-switch-wrapper {
		padding: 0 0 1em 0;

		.wizzy-switch-danger {
			color: red;
			padding-left: 1em;
		}
	}
}